.UserList {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  min-height: 20vh;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(0, 328px));
    justify-content: center;
  }
}
